// -----------------------------------------------------------------------------
// This file contains buttons styles.
// -----------------------------------------------------------------------------
.primaryBtn {
  background-color: $color-primary !important;
  border: 1px solid;
  border-color: $color-primary !important;
  font-size: 1rem !important;
  border-radius: 40px;
  min-width: 200px !important;
  padding: 23px 0 !important;

  &.loginBtn {
    border-radius: 8px;
    min-width: 135px !important;

    span {
      text-transform: uppercase;
      font-weight: initial;

    }
  }

  span {
    color: $color_white;
    font-weight: bold;
    text-transform: initial;

  }

  &:hover {
    background-color: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
    color: $color_white;

    span {
      border-color: darken($color-primary, 5%);
    }
  }

  @media screen and (max-width: 768px) {
      font-size: .8rem !important;
      min-width: 150px !important;
      padding: 20px 0 !important;
  }
}

.primay-outline-btn {
  background-color: transparent;
  border: 1px solid;
  border-color: $color-primary !important;
  font-size: .75rem !important;
  border-radius: 20px;


  span {
    color: $color-primary;
    font-weight: bold;
    text-transform: capitalize;
  }

  &:hover {
    background-color: transparent;
    border-color: darken($color-primary, 5%);

    span {
      border-color: darken($color-primary, 5%);
    }
  }
}
.secondary-outline-btn {
  background-color: transparent;
  border: 1px solid;
  border-color: $color-secondary!important;
  font-size: .75rem !important;
  border-radius: 20px;

  span {
    color: $color-secondary;
    font-weight: bold;
    text-transform: capitalize;
  }

  &:hover {
    background-color: transparent;
    border-color: darken($color-secondary, 5%);

    span {
      border-color: darken($color-secondary, 5%);
    }
  }
}

.underlineBtnPrimary {
  font-size: .75rem !important;
  min-width: initial !important;
  padding: 0 2px!important;

  span {
    color: $color-primary;
    font-weight: bold;
    text-decoration: underline;
  }

  &:hover {
    color: darken($color-primary, 5%);

    span {
      color: darken($color-primary, 5%);
    }
  }
}

button.srearchBnt.primaryBtn.v-btn.v-btn--disabled {
  background-color: #b40f1fa3 !important;
  border-color: #b40f1fa3 !important;
  cursor: not-allowed;
}

.subscibeBtn {
  background-color: $color-primary !important;
  border: 1px solid;
  border-color: $color-primary !important;
  font-size: .9rem !important;
  border-radius: 0 40px 40px 0;
  min-width: 140px !important;
  padding: 23px 0 !important;

  &.loginBtn {
    border-radius: 8px;
    min-width: 135px !important;

    span {
      text-transform: uppercase;
      font-weight: initial;

    }
  }

  span {
    color: $color_white;
    font-weight: bold;
    text-transform: initial;

  }

  &:hover {
    background-color: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
    color: $color_white;

    span {
      border-color: darken($color-primary, 5%);
    }
  }
}